
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial;
    text-transform: uppercase;
}
@font-face {
	font-family: 'CormorantGaramond';
   src: url(../fonts/CormorantGaramond-Italic.ttf);
}
main {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: 2em 12em 40em 40em 40em 40em 10em;
	grid-template-areas:
	"a a a "
	"b b b"
	"c c c"
	"d d d"
	"e e e"
	"f f f"
	"g g g";
}
main section{
	background-color: white;
	/*border: 0.5px solid white;*/
}

.flex-container {
  display: flex;
  flex-wrap: wrap;  
}

.flex-item-left {
  flex: 50%;  
  margin-top: 4px;
  text-align: left;
  padding-left: 5%; 
}

.flex-item-right {
  flex: 5%;  
  margin-top: 4px;
  text-align: right;
}


.flex-item-left > h4 > a {
	color: black;	
	text-decoration: none;
}
.area-a{
	grid-area: a;
	width:100%;
	background-color: #e0e0e0;
}
.area-a > div > div > nav > ol {
	display: flex;
	list-style: none;
}
.area-a > div > div > nav > ol > li {
	letter-spacing: 2px;
	margin-left: 32px;
}
.area-a > div > div > nav > ol > li > a {	
	color: black;	
	text-decoration: none;
}

.b-entrar {  
  color: black;
  padding: 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white; 
  color: black; 
  border: 1px solid #4CAF50;;
}

.modal {
	position: fixed;
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
	transform: scale(1.1);
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.25s ease-in-out, transform 0.25s
	ease-in-out,opacity 0.25s ease-in-out;
}

/*MODAL*/

.modal-content {
	background-color: white;
	padding: 16em 24em;
	width: 384px;
	border-radius: 0.5rem;
}

span{
	float: right;
	width: 2em;
	cursor: pointer;
	background-color: lightgray;
	text-align: center;
	line-height: 24px;
}

span:hover {
	background-color: darkgray;
}

.show-modal{
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
}

/*AREA DO MENU*/

.flex-container-b {
  display: flex;
  flex-wrap: wrap; 
  text-align: center;
}

.flex-logo {
  flex: 100%;
  margin-top: 2%; 
}

.flex-menu {
  flex: 100%;  
  text-align: center; 

 }

.area-b{
	grid-area: b;
	width:100%;
	background-color: black;
}

.flex-logo > a > img { 
	width: 5vw;	
}

.flex-menu > div > ol > li { 	
	display: inline;;
	list-style-type: none;	
	font-size: 0.7em;
	letter-spacing: 3px;
}

.flex-menu > div > ol > li > a{
	text-decoration: none;
	padding: 10px;
	color: black;
	border-bottom: 1px solid white;
	color: white;
}

.flex-menu > div > ol > li > a:hover{
	background-color: white;
	color: black;
	border-bottom: 1px solid white;
	transition: 0.4s;
}

/*Sacola Compras do Menu */

img#sacola {	
	width: 4%;	
}

li#sacola :hover {
	background-color: black;
}

.area-c{
	grid-area: c;
	width:80%;	
}

.area-c	> div.foder {
	display: flex;
	flex-direction: row;	
	text-align: center;	
}

.area-d{
	grid-area: d;
	width:80%;
	background-color: white;
}

/*SESSÃO MASCULINA*/
h2 {
	text-align: center;
	margin: 2em 0em 2em 0em;
	font-family: 'CormorantGaramond', 'Italic';	
	letter-spacing: 3px;
}

.flex-container-masculino{
	display: flex;
	flex-direction: row;	
	text-align: center;	
}
.flex-container-masculino > flex-item-m {
	display: inline-block;
}

img.foto-m{	
	width: 15vw ;
}

div.flex-item-m > div > a {
	text-decoration: none;
	color: black;
}

.area-e{
	grid-area: e;
	display: flex;
	width:80%;
	background-color: white;
	color: black;
}

.area-f{
	grid-area: f;
	width:80%;
}

/*Roda Pé*/

.area-g{
	grid-area: g;
	width:100%;
	background-color: black;
}

.flex-container-pe {	
	padding-top: 2em;
	display: flex;
}

.flex-item-pe {
	flex-direction: row;	
	text-align: center;	
}

.flex-item-pé > small {
	color: white;	
}

div#BlackCat-Pe {
	align-self: flex-end;
}

.flex-item-pé > img {
	width: 10vh;
}

.flex-item-pé > ol> li > a {
	text-decoration: none;
	color: white;
	letter-spacing: 3px;
}
ol.sociais_id{
	display: flex;	
}
li.sociais {		
	display: inline-block;	
	margin: 20% 7% 0% 0%;
}
li.sociais > a > img {
	width: 3vh;
}


/*ESTRUTURA PAGINA */

body {
	/*background-image: linear-gradient(white, #DCDCDC);*/
	background-color: white;

}

/*RESPONSIVIDADE*/

@media (max-width: 800px) {
	/*AREA A*/
	.flex-item-right{
		flex: 100%;
		text-align: center;
	}
	.flex-item-left {
		flex: 100%;
		text-align: center;
		padding-left: 0%; 
	}

	img#sacola {	
	width: 8%;	
}

	/*AREA B*/
	.flex-container-b {
		display: block;
	}
	.flex-logo{
		flex: 100%;
		text-align: center;
	}
	.flex-logo > a > img { 
		width: 15vw;	
	}
	.flex-menu {
		flex: 100%;
		text-align: center;
		flex-direction: column;
		}
	.flex-menu > div > ol > li { 	
		display: block;;
		list-style-type: none;
		padding: 1em;	
		font-size: 1em;
		letter-spacing: 10px;
	}

	/*Video*/
	video {
		width: 100%;
	}

	.flex-container-masculino {
		display: flex;		
		flex-direction: column;
		text-align: center;
	}

	img.foto-m{	
		width: 55vw ;
		
	}

	/*Area Feminina*/
	img.foto-f{	
		width: 55vw ;
	}

	/*INFANTIL*/
	.flex-container-i {
		display: flex;		
		flex-direction: column;
		text-align: center;
	}

	img.foto-i{	
		width: 55vw ;
		
	}

	/*Roda-Pé*/

	.flex-item-pe {
		flex-direction:column;	
		text-align: center;	
	}
	.flex-item-pé > small {
		font-size: 10px;
	}
	/*MAIN*/
	main {
		grid-auto-rows: 4em 25em 20em 165em 170em 165em 10em;
		grid-auto-columns: 3em 3em 3em 3em; 
	}	
}

/* @media ((max-width: 1000px) and (min-width: 800px)) {
	main {
		grid-auto-rows: 2em 10em 30em 35em 205em 30em 10em;
		grid-auto-columns: 3em 3em 3em 3em; 
	}	
}
*/

